button {
    background-color: #0dcaf0;
    margin: 3px;
    border-radius: 4px;
    border: 2px solid #2980b9;
    padding: 6px 12px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #FFFFFF;
}

p {
    color: #34495e;
    font-weight: 600;
    font-size: 16px;
    border-bottom: #34495e solid 3px;
    text-align: center;
    padding-bottom: 8px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, thead {
    border: 1px solid #ddd;
    padding: 4px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #34495e;
    color: white;
}

#total-salary {
    text-align: center;
}

input {
    padding: 11px;
    font-weight: bold;
}

#add-container {
    text-align: center;
}


